body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  border-color: black;
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
}